*{
    background-color: black;
    color: darkgrey;
}
div{
    display: inline-flex;
};
aside{
    background-color: rgb(31, 31, 31);
    display: block;
    flex-direction: column;
};  
#results {
    width:max-content;
    display: inline-flex;
}